@charset "utf-8";


@font-face {
    font-family: 'LanaPixel';
    src: url('fonts/LanaPixel.woff2'), url('fonts/LanaPixel.woff');
}

// Set your brand colors
$green: #00a99d;
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;
// Update Bulma's global variables
$family-sans-serif: 'LanaPixel',sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$success: $green;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Globals

  @media screen and (min-width: 769px)
{
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    
  }
}
  
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.2); 
    border-radius: 15px;
    background: rgba(0,0,0,0.15);
    
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 15px;
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.8); 
    background: #00a99d;
    
  }

html
{
  background-color:transparent !important;
}
body {
    background: #f5f5f5;
    //background: linear-gradient(0deg, rgba(166,208,190,1) 0%, rgba(242,242,242,1) 20%, rgba(242,242,242,1) 80%, rgba(61,209,255,1) 100%);
    user-select: none;
    
}
a{
    color:#00a99d;
    transition: all 0.3s;
}
input[type=text] {   
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
// Import only what you need from Bulma
@import 'node_modules/bulma/sass/utilities/_all.sass';
@import 'node_modules/bulma/sass/base/_all.sass';
@import 'node_modules/bulma/sass/elements/button.sass';
@import 'node_modules/bulma/sass/elements/container.sass';
@import 'node_modules/bulma/sass/form/_all.sass';
@import 'node_modules/bulma/sass/elements/title.sass';
@import 'node_modules/bulma/sass/components/navbar.sass';
@import 'node_modules/bulma/sass/components/modal.sass';
@import 'node_modules/bulma/sass/components/dropdown.sass';

/*Slider*/
.ant-slider
{
  width:100%;
}
.ant-slider-track
{
  background-color:transparent !important;
}
.ant-slider-handle
{
  background-color: #00a99d !important;
  border: 0 !important;
  margin-top:-4px !important;
}
.ant-slider-handle:focus
{
  box-shadow:0 0 0 5px rgba(0, 169, 157,0.8);
}

.ant-slider-rail
{
  background-color:#e1e5da !important;
  height:6px !important;
}
/*Modal*/
@keyframes moveGradient {
  50% {
  background-position: 100% 50%;
  }
}
.modal
{
  padding-left:15px;
  padding-right:15px;
  /*z-index: 1020;*/
}
.modal-background
{
  background:rgba(0, 169, 157,0.8) !important;
  
}
.modal-card
{
  overflow:visible;
  
}
.modal-card-body
{
  border-radius:14px;
  box-shadow: 4px 4px 0 rgba(0,0,0,0.04);
}
.modal-card-body .close
{
  position:absolute;
  top:5px;
  right:10px;
}


/* Notification */
.ant-notification
{
  margin-right:0;
  
}
.ant-notification-notice
{
  background:white;
  color:black;
  border-radius: 14px 0 0 14px;
  box-shadow:4px 4px 0 rgba(0,0,0,0.04);
  line-height:1.2;
 
}

@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(1turn);
  }
}
@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
.open-chestbox-notification b
{
  color:#00a99d;
  font-weight:normal
}
.ant-notification-notice .button
{
  margin-top:10px;
  border-radius: 4px;
  height:30px;
  background:#00a99d;
  color:white;
  display:block;
  width:fit-content;
  display:flex;
  align-items: center;
  justify-content: center;
  padding-top:7px;
  padding-bottom:5px;
}
.open-chestbox-notification
{
  width: 380px;
  --border-width: 3px;
  overflow: visible;
  padding-left:22px;
  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
      60deg,
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(44, 85%, 66%),
      hsl(89, 85%, 66%),
      hsl(134, 85%, 66%),
      hsl(179, 85%, 66%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    animation: moveGradient 4s alternate infinite;
  }
}
.open-chestbox-notification .ant-notification-notice-icon
{
  margin-left:0;
  top: calc(50% - 48px);
  animation: rotation 3s infinite linear;
}
.open-chestbox-notification .ant-notification-notice-with-icon
{
  
  background:url(/assets/notification/chest.png) no-repeat 0 100%;
}

.ant-notification-notice-close
{
  color:black;
}
.ant-notification-notice-message
{
  color:black;
  font-size:18px;
  text-transform: uppercase;
  margin-left:70px !important;
}
.ant-notification-notice-description
{
  margin-left:70px !important;
}
.ant-notification-notice-with-icon span
{
  color:black !important;
  font-size:30px !important;
}
.ant-notification-notice-icon
{
  margin-left:0;
  top: calc(50% - 24px);
}
.ant-notification-notice-with-icon .ant-notification-notice-description
{
  font-size:14px;
 
}

.ant-notification-notice button.ant-btn
{
  background:white !important;
  color:#6f2c90;
  border-radius:10px;
  border:0;
  
}
.ant-notification-notice button.ant-btn span
{
  font-size: 14px !important;
  color:#6f2c90 !important;
}
.ant-notification-notice button.ant-btn:hover
{
  color:#6f2c90;
  opacity:0.8;
}
.ant-notification-notice-btn
{
  margin-top:0;
}
.ant-notification-close-x
{
    width: 16px;
    height: 16px;
    background: url(/assets/remove16x16.png) no-repeat;
    display: block;
    transition: all 0.25s ease-in-out;
}
.ant-notification-close-x:hover
{
  transform: rotate(180deg)  scale(1.2);
  
}
.ant-notification-close-x svg
{
  display:none;
}
.ant-notification-close-x span
{
  color:white;
  transition: transform .2s;
}
.ant-notification-close-x:hover span
{
  transform: scale(1.2);
}
@keyframes NotificationFadeIn {
  0% {
    left: 384px;
   
  }
  100% {
    left: 0;
    
  }
}
@keyframes NotificationLeftFadeIn {
  0% {
    right: 384px;

  }
  100% {
    right: 0;

  }
}

/* Checkbox */

.ant-checkbox-inner
{
  background-color:#e1e5da !important;
  border-color:#e1e5da !important;//#e1e5da
  width:20px !important;
  height:20px !important;
}
.ant-checkbox + span
{
  font-size:17px;
  
}
.ant-checkbox + span span
{
  position: relative;
  top: 2px;
  white-space: nowrap;
  float:right;
}
.ant-checkbox-checked .ant-checkbox-inner
{
  background-color:#00a99d !important;
  border-color:#00a99d !important;//#e1e5da
}
.ant-checkbox-checked::after
{
  border-color:#00a99d !important;
}

/* Web3 Modal*/
.web3modal-modal-card
{
  border-radius:14px;
}
.web3modal-modal-lightbox
{
  background: rgba(0, 169, 157, 0.8) !important;
  z-index:6 !important;
}

/*Switcher*/
.ant-switch-checked
{
  background-color: #00a99d !important;
}

/*Pagination*/
.ant-pagination-item:focus a, .ant-pagination-item:hover a
{
  color:#00a99d !important;
}
.ant-pagination-item-active:focus a, .ant-pagination-item-active:hover a, .ant-pagination-item-active a
{
  color:#00a99d !important;
}
.ant-pagination-item-active:focus, .ant-pagination-item-active:hover, .ant-pagination-item-active
{
  border-color:#00a99d !important;
}