@charset "utf-8";
// Import a Google Font
//@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@font-face {
    font-family: 'dogicaregular';
    src: url('fonts/dogica-webfont.woff2') format('woff2'), url('fonts/dogica-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dogicabold';
    src: url('fonts/dogicabold-webfont.woff2') format('woff2'), url('fonts/dogicabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dogica_pixelregular';
    src: url('fonts/dogicapixel-webfont.woff2') format('woff2'), url('fonts/dogicapixel-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dogica_pixelbold';
    src: url('fonts/dogicapixelbold-webfont.woff2') format('woff2'), url('fonts/dogicapixelbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*Chinese*/
@font-face {
    font-family: 'mxmc';
    src: url('fonts/MeiXiaoMingChao.ttf');
}
@font-face {
    font-family: 'zpix';
    src: url('fonts/LanaPixel.ttf');
}

// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;
// Update Bulma's global variables
$family-sans-serif: 'dogicaregular',
sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;
body {
    background: #e1e4db;
}

// Import only what you need from Bulma
@import 'node_modules/bulma/sass/utilities/_all.sass';
@import 'node_modules/bulma/sass/base/_all.sass';
@import 'node_modules/bulma/sass/elements/button.sass';
@import 'node_modules/bulma/sass/elements/container.sass';
@import 'node_modules/bulma/sass/form/_all.sass';
@import 'node_modules/bulma/sass/elements/title.sass';
@import 'node_modules/bulma/sass/components/navbar.sass';
@import 'node_modules/bulma/sass/layout/hero.sass';
@import 'node_modules/bulma/sass/layout/section.sass';