@charset "utf-8";


@font-face {
    font-family: 'LanaPixel';
    src: url('fonts/LanaPixel.woff2'), url('fonts/LanaPixel.woff');
}

// Set your brand colors
$green: #00a99d;
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;
// Update Bulma's global variables
$family-sans-serif: 'LanaPixel',sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$success: $green;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Globals
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    
  }
  
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.2); 
    border-radius: 15px;
    background: rgba(0,0,0,0.15);
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 15px;
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.8); 
    background: #00a99d;
  }


body {
    background: #e1e4db;
    background: linear-gradient(0deg, rgba(166,208,190,1) 0%, rgba(242,242,242,1) 20%, rgba(242,242,242,1) 80%, rgba(61,209,255,1) 100%);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
a{
    color:#00a99d;
}

// Import only what you need from Bulma
@import 'node_modules/bulma/sass/utilities/_all.sass';
@import 'node_modules/bulma/sass/base/_all.sass';
@import 'node_modules/bulma/sass/elements/button.sass';
@import 'node_modules/bulma/sass/elements/container.sass';
@import 'node_modules/bulma/sass/form/_all.sass';
@import 'node_modules/bulma/sass/elements/title.sass';
@import 'node_modules/bulma/sass/components/navbar.sass';
@import 'node_modules/bulma/sass/layout/hero.sass';
@import 'node_modules/bulma/sass/layout/section.sass';