.content_wrapper
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:0 auto;
    padding: 10px 10px;
    max-width:1400px;
}



.filter_panel
{
    
    width:290px;
    background:white;
    border-radius: 14px;
    box-shadow:4px 4px 0 rgba(0,0,0,0.04);
    margin:20px 10px;
    padding:15px 10px;
    position:relative;
    height:fit-content;
    .title
    {
        color:black;
        margin-top:10px;
        font-size:20px;
        margin-left:1px;
    }
    .clear_filter
    {
      position:absolute;
      right:10px;
      top:27px;
      color:#00a99d;
    }
    .filter_by
    {
      width:100%;
      height:50px;
      display:flex;
      align-items: center;
      border-radius: 4px;
      margin-top:15px;
      margin-bottom:30px;
      background:#e1e5da;
      padding-left:2px;
      padding-right:2px;
      a
      {
        flex:1;
        text-align: center;
        height:40px;
        margin:3px;
        padding-top:8px;
        border-radius:4px;
        color:black;
        background:transparent;
      }
      a.is_active, a:hover
      {
        background:#00a99d;
        color:white;
      }
    }
    .filter_ability
    {
      color:black;
      width:100%;
      height:50px;
      display:flex;
      align-items: center;
      border-radius: 4px;
      margin-bottom:15px;
      background:#e1e5da;
      padding-left:2px;
      padding-right:2px;
      position:relative;
      .ability_title
      {
        
        flex-basis:170px;
        border-right:1px solid #bbb;
        height:40px;
        img
        {
          position:absolute;
          top:13px;
          left:15px;
        }
        div
        {
          margin-left:45px;
          line-height:18px;
          padding-top:3px;
          span
          {
            display:block;
          }
        }
      }
      .ability_slider
      {
        flex:1;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size:20px;
        .slider
        {
          width:100%;
          :global
          {
            .ant-slider
            {
              padding:0;
              margin:0;
              width:calc(100% - 20px);
              margin-left:10px;
            }
            .ant-slider-rail
            {
              background:white !important;
            }
          }
        }
      }

    }
    .filter_level
    {
      width:100%;
      display:flex;
      align-items: center;
      justify-content:space-between;
      margin-top:0px;
      margin-bottom:15px;

      a
      {
        width:62px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height:30px;
        border-radius:4px;
        color:black;
        background:#e1e5da;
        img
        {
          height:18px;
          width:auto;
        }
      }
      a.is_active, a:hover
      {
        background:#00a99d;
        color:white;
      }
    }
    .filter_currency
    {
      width:100%;
      display:flex;
      align-items: center;
      justify-content:space-between;
      margin-top:0px;
      margin-bottom:15px;
      img
      {
        width:24px;
        height:24px;
        vertical-align: top;
        margin-right:5px;
      }
    }
    .filter_class
    {
      width:100%;
      display:flex;
      align-items: center;
      justify-content:space-between;
      margin-top:0px;
      margin-bottom:15px;
      img
      {
        width:auto;
        height:23px;
      }
    }
    .filter_category
    {
      width:100%;
      display:flex;
      align-items: center;
      justify-content:space-between;
      margin-top:0px;
      margin-bottom:15px;
      img
      {
        width:auto;
        height:24px;
        margin-right:5px;
      }
    }
}

.main_panel
{
    flex:1;
    max-width:1200px;
}

.row
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:0 auto;
    padding: 20px 0px;
}

.toggle_filter
{
  flex-direction: column;
  position: absolute;
  right: 0px;
  top: 20px;
  font-size: 18px;
  background: white;
  width: 80px;
  text-align: center;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 10px;
  padding-top: 20px;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  z-index:4;
  transition: all 0.2s ease-in-out 0s;
  box-shadow: 4px 4px 0 rgba(0,0,0,0.04);
}
:global
{
  #toggle_filter.toggled
  {
    
    right:290px;
  }
}

.filter_row
{
  max-width:1400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:0 auto;
    padding: 20px 10px 0 10px;
    
    .box
    {
      

      width:100%;
      min-height:60px;
      background:white;
      border-radius: 14px;
      box-shadow:4px 4px 0 rgba(0,0,0,0.04);
      
      padding:10px 10px;
      position:relative;
      display:flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      .sorting,.view_selection
      {
        display:flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: left;
      }
      
      .title{
        color:black;
        margin:0 5px;
      }
      .sort_btn
      {
        display:flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        background:white;
        a
        {
          &.is_acitve
          {
            color:white;
            background:#00a99d;
          }
          &:hover
          {
            color:white;
            background:#00a99d;
          }
          .icon
          {
            position:absolute;
            font-size:16px;
           
            left:5px;
            top:5px;
          }
          position:relative;
          width:120px;
          height:32px;
          border:1px solid #00a99d;
          color:#00a99d;
          border-radius:4px;
          margin:5px 5px;
          padding-left:10px;
          text-align:center;
          padding-top:6px;
          font-size:14px;
        }
      }

      .view_btn
      {
        display:flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        background:white;
        a
        {
          max-width:60px;
          &.is_acitve
          {
            color:white;
            background:#00a99d;
          }
          &:hover
          {
            color:white;
            background:#00a99d;
          }
          .icon
          {
            position:absolute;
            font-size:16px;
           
            left:5px;
            top:5px;
          }
          position:relative;
          width:120px;
          height:32px;
          border:1px solid #00a99d;
          color:#00a99d;
          border-radius:4px;
          margin:5px 5px;
          text-align:center;
          padding-top:6px;
          font-size:14px;
          
        }
      }
      
      
    }
}
:global
{
  #filterbar_backdrop
  {
    width: 0%;
    height: 100%;
    background: #00a99d !important;
    position: absolute;
    z-index: 3;
    opacity: 0;
    top:0;
    transition: opacity 0.2s ease-in-out;
  }

  @media screen and (max-width: 1520px)
  {
    #filter1.toggled, #filter2.toggled
    {
      
      transform: translateX(0);
    }
    #filterbar_backdrop.toggled
    {
      width:100%;
      opacity:0.8;
    }
    #toggle_filter
    {
      display:flex;
    }
  }
}
@media screen and (max-width: 425px)
{
  .toggle_filter
  {
    width:60px !important;
    padding-top:5px !important;
    padding-bottom:0px !important;
    span{
      transform: scale(0.8);
    }
  }
}
@media screen and (max-width: 375px)
{
  .toggle_filter
  {
    height:45px;
    width:50px !important;
    padding-top:5px !important;
    padding-bottom:0px !important;
    span{
      transform: scale(0.6);
    }
  }
  :global
  {
    #toggle_filter
    {
      top:20px !important;
    }
    #toggle_filter.toggled
    {
      top:80px !important;
    }
  }
  
}
@media screen and (max-width: 1520px)
{
    .filter_panel
    {
        transform:translateX(290px);
        position: absolute !important;
        top: 230px !important;
        margin: 0 !important;
        right: 0px !important;
        height: calc(100% - 230px) !important;
        border-radius: 0;
        box-shadow: none;
        overflow-y: auto;
        z-index: 4;
        transition: all 0.2s ease-in-out 0s;
        

    }
    .filter_row .box
    {
        
        transform:translateX(290px);
        transition: all 0.2s ease-in-out 0s;
        width:290px;
        position: absolute !important;
        top: 0 !important;
        right: 0px !important;
        height: 230px !important;
        border-radius: 0;
        box-shadow:none;
        justify-content: left;
        z-index: 4;
        .title{
            margin-left:10px;
        }
       
        .sort_btn a{
          margin:5px;
        }
        .view_btn
        {
          justify-content: center;
          width: 270px;
        }
        .view_btn a
        {
          margin:5px;
          width:120px;
          max-width: none;
        }
    }
}

:global
{
  .ant-checkbox + span {
    padding-right: 8px;
    padding-left: 8px;
  }
  #fr-FR
  {
    :local
      {
     
        .filter_row .box .sort_btn a:nth-child(5)
        {
          padding-left:15px;
        }
        .filter_panel .filter_ability .ability_title div span:nth-child(2)
        {
          font-size:15px;
        }
      }
  }
}