.row
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:0 auto;
    padding: 0px 10px;
    max-width:1400px;
}
.box
{
  width:290px;
  min-width:290px;
  height:60px;
  background:white;
  border-radius: 14px;
  box-shadow:4px 4px 0 rgba(0,0,0,0.4);
  margin:20px 20px;
  padding:15px 10px;
  position:relative;
  display:flex;
  align-items: center;
  
  .chestbox
  {
      position: absolute;
      
  }
  .buy_btn
    {  
    &:hover
    {
    transform:scale(1.05);
    }
    img
    {
        margin-top:-4px;
        margin-left:-14px;
    }
    justify-content: center;
    display:flex;
    align-items:center;
    margin-left:50px;
    width:84px;
    border-radius: 4px;
    font-size:20px;
    padding-top:4px;
    height:40px;
    background:#00a99d;
    border:#00a99d;
    color:white;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
    transition: all .1s ease-in-out;
    }
    .chestPrice
    {
        display:flex;
        flex-direction: column;
        font-size:11px;
        margin-left:10px;
        line-height:18px;
        
        div
        {
            font-family: LanaPixel;
            font-size:18px;
            color:#00a99d;
            font-weight:normal;
        }
    }
    .zoo_icon
    {
        margin:0 5px;
    }
    .current_supply
    {
        font-size:13px;
        line-height:16px;
        margin:0 5px;
        padding-top:3px;
       
    }
    .verticle_line
    {
        width:1px;
        height:58px;
        background:#eee;
        margin:0 5px;
        padding-top:3px;
    }
    .market
    {
        font-size:13px;
        line-height:16px;
        margin:0 5px;
        span
        {
            color:#00a99d;
        }
    }
    .burn_icon
    {
        height:42px;
        width:auto;
        position:absolute;
        bottom:8px;
        left:25px;
    }
    .burn
    {
        margin-left:80px;
        line-height:16px;
        padding-top:4px;
        justify-content: left;
    }
    .burn_text,.burn_amount
    {
        color:#fd0f16 !important;
        padding-top:2px;   
    }
    .burn_amount
    {
        font-size:18px;
    }
}