@media (min-height: 800px) { // Edit here for expanding menu
    .footer
    {
        width:100%;
        position:absolute;
        bottom:0;
    }
}
.footer
{
    
    width:100%;
    .box
    {
        &:last-child
        {
            border-bottom:1px solid #ccc;
        }
        border-top:1px solid #ccc;
        padding: 15px 30px;
        display:flex;
        font-size:13px;
        img
        {
            width:32px;
            height:32px;
            margin:0 5px;
        }
        .detail
        {
            margin-left:5px;
            line-height:15px;
            span
            {
                color:#00a99d;
            }
            span.burned
            {
                color:red;
            }
        }
    }
    .ext_link
    {
        padding: 15px 20px;
        a
        {
            font-size:18px;
            color:black;
            display:block;
            margin-left:57px;
        }
    }
    .fixed_bottom
    {
        position: fixed;
        max-width: 240px;
        bottom: 0;
        background: white;
        min-width: 240px;
        padding-top:5px;
    }
    .social
    {
        
        display:flex;
        justify-content: center;
        align-items: center;
        padding-top: 5px;
        padding-bottom: 5px;
        a:hover img
        {
            filter: invert(0.65);
        }
        a
        {
            padding:3px;
            img
            {
                height: auto;
                max-height: 24px;
                width: 24px;
                filter: invert(0.25);
                transition: filter 0.5s;
            }
        }
        
    }
    .credit
    {
        padding:5px 20px;
        font-size:11px;
        border-top:1px solid #ccc;
        a
        {
            color:#00a99d;
        }
    }
}


:global {
    #wrapper {
        overflow-x: hidden;
        display:flex;
        overscroll-behavior-y: auto;
        height:100%;
    }
    #sidebar_backdrop
    {
        width:0%;
        height:100%;
        background: #00a99d !important;
        position:absolute;
        z-index:5;
        opacity:0;
        transition: opacity .2s ease-in-out;
    }
    
    #sidebar_wrapper {
        min-height: 100vh;
        margin-left: -240px;
        transition: margin .2s ease-in-out;
        background:white;
        position:fixed;
        box-shadow:none;
        height:40px;
        z-index: 6;
        
        padding-bottom:60px;
        overscroll-behavior-y: contain;
    }

    #menu_toggle
    {
        position: absolute;
        left: 0px;
        top: 20px;
        font-size: 30px;
        background: white;
        width: 30px;
        text-align: center;
        box-shadow:3px 3px 5px rgba(0,0,0,0.01);
        z-index:6;
        transition: left .2s ease-in-out;
        border-top-right-radius: 14px;
        border-bottom-right-radius: 14px;
        box-shadow: 4px 4px 0 rgba(0,0,0,0.04);
    }
    #wrapper.toggled #menu_toggle
    {
        left:240px;
    }
    
    #sidebar_wrapper #sidebar_heading {
        padding: 20px;
        font-size: 2rem;
        font-family: 'LanaPixel';
       
        text-align:center;
    }
    #sidebar_heading img:hover
    {
        animation: tada;
        animation-duration: 2s;
    }
    #sidebar_wrapper #wallet_connection
    {
        display:flex;
        padding:0px 30px 20px 30px;
        flex-direction: column;

        &[data-connected="true"]
        {
            a.connect_disconnect_btn
            {
                background:#c1272d;
            }
            .address,.balance
            {
               display:block;
            }
        }

    }
    #sidebar_wrapper #wallet_connection a.connect_disconnect_btn
    {
       
        text-align:center;
        color:white;
        background:#00a99d;
        height:38px;
        border-radius:4px;
        padding-top:4px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.1s ease-in-out;
    }
    #sidebar_wrapper #wallet_connection a.connect_disconnect_btn:hover
    {
        transform: scale(1.05);
    }
    #sidebar_wrapper .address
    {
        color:black;
   
        padding:5px;
        font-size:16px;
        display:none;
    }
    #sidebar_wrapper .testnet
    {

        height:38px;
        padding-top:8px;
        font-size:16px;
        text-align: center;
        background:#e67056;
        border-radius:4px;
        color:white;
    }
    #sidebar_wrapper .address svg
    {
        margin-right:8px;
        color:#00a99d;
        padding-top:2px;
        width:19px;
        height:19px;
    }
    #sidebar_wrapper .balance
    {
        color:black;

        height:38px;
        padding-top:4px;
        padding-right:0;
        display:none;
        padding-top:3px;
        background:#e1e5da;
        border-radius: 4px;
        
        font-size: 18px;
        position:relative;
        padding-left: 5px;
        span
        {
            display:inline-block;
            position:relative;
            top:2px;
        }
    }
    #sidebar_wrapper .balance img,#sidebar_wrapper .address img
    {
        margin-right:10px;
    }

    #sidebar_wrapper #sidebar_heading img {
        width:180px;
        height:auto;
    }

    .horizontal_line
    {
        width: 100%;
        height: 1px;
        background: #ccc;
        
    }
    
    #sidebar_wrapper .list_group {
        width: 240px;
        padding: 20px;
        padding-top:0;
        //height: calc(100vh - 300px - 300px); // Edit substract of footer here
        //overflow: auto;
    }
    
    #sidebar_wrapper .list_group li
    {
        font-family: 'LanaPixel';
        text-align: left;
        margin-top:20px;
        font-size:1.5rem;
    }
    #sidebar_wrapper .list_group li a
    {
        color:black;
        font-size:22px;
        display:flex;
        align-items: center;
        justify-content: left;
        transition: all 0.1s ease-in;
        padding-left:10px;
        padding-right:10px;
        
    }
    #sidebar_wrapper .list_group li a div
    {
        height:32px;
        display:flex;
        align-items: center;
        margin-left:5px;
    }
    #sidebar_wrapper .list_group li a img
    {
        transition: all 0.5s ease-in;
    }
   
    
    #sidebar_wrapper .list_group li a.is_active img
    {
        animation: rotation 2s infinite linear;
    }
    #sidebar_wrapper .list_group li a:hover
    {
        transform: scale(1.05); 
    }
    #sidebar_wrapper .list_group li a:hover img
    {
        transform: rotateY(1turn);
    }
    #sidebar_wrapper .list_group li a img
    {
        margin-right:5px;
        margin-left:5px;
    }
    
    #page_content_wrapper {
        min-width: 100vw;
        margin-left:0rem;
        transition: all .2s;
        overscroll-behavior-y: contain;
    }
    
    #wrapper.toggled #sidebar_wrapper {
        margin-left: 0;
        box-shadow:3px 3px 5px rgba(0,0,0,0.01);
        
    }
    #wrapper.toggled #page_content_wrapper
    {
        /*margin-left: 240px;*/
        
    }
    #wrapper.toggled #sidebar_backdrop
    {
        width:100%;
        opacity:0.8;
    }

    #wrapper.toggled #sidebar_wrapper
    {
        overflow-y:auto;
        overflow-x:visible;
    }
    
    @media (min-width: 769px) {
        #menu_toggle
        {
            display:none;
        }
        #sidebar_wrapper {
            margin-left: 0;
            overflow-y:auto;
            overflow-x:visible;
        }
        #page_content_wrapper {
            min-width: 0;
            width: 100%;
            margin-left:240px;
        }
        #wrapper #sidebar_wrapper
        {
            box-shadow:3px 3px 5px  rgba(0,0,0,0.01);
        }
        #wrapper.toggled #sidebar_wrapper {
            margin-left: -240px;
            box-shadow:none;
        }
    }
}